:root {
  --width: 42em;
}

header {
  max-width: var(--width);
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
}

header h3 {
  margin-top: auto;
  margin-bottom: auto;
}

main {
  max-width: calc(0.7 * var(--width));
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

a.active {
  font-weight: bold;
}

.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
}
